<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/sub/basic">
  <th:block layout:fragment="title">
    <title>회계장부</title>
  </th:block>

  <th:block layout:fragment="content">

    <div style="width:1000px; height:1000px;">
      <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTJrNndrZUdB1KnCmMMb_wlDHQozwSREsVWbjQ4XiFrjKbEcO52tlpE-wo294EGfxLyVs5rANIhkyfj/pubhtml?widget=true&amp;headers=false"></iframe>
    </div>

  </th:block>
</html>