<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/admin/basic">
    <th:block layout:fragment="title">
        <title>글작성 페이지</title>
    </th:block>

    <th:block layout:fragment="content">
        <div class="page_tits">
            <h3>게시판 관리</h3>
            <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>글작성</span></p>
        </div>

        <div class="content">
            <section>
                <form id="saveForm" method="post" autocomplete="off">
                    <!--/* 게시글 수정인 경우, 서버로 전달할 게시글 번호 (PK) */-->
                    <!--<input type="hidden" id="ggtUserIdChk" name="id" th:if="${user != null}" th:value="${user.ggtUserId}" />-->

                    <!--/* 서버로 전달할 공지글 여부 */-->
                    <input type="hidden" id="noticeYn" name="noticeYn" />
                    <table class="tb tb_row">
                        <colgroup>
                            <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row">아이디 <span class="es">필수 입력</span></th>
                                <td colspan="3"><input type="text" id="ggtUserId" name="ggtUserId"  placeholder="아이디를 입력해 주세요." /></td>
                            </tr>

                            <tr>
                                <th>핸드폰번호 <span class="es">필수 입력</span></th>
                                <td colspan="3"><input type="text" id="ggtUserPnum" name="ggtUserPnum"  maxlength="50" placeholder="핸드폰 번호를 입력해 주세요." /></td>
                            </tr>

                            <tr>
                                <th>이름 <span class="es">필수 입력</span></th>
                                <td colspan="3"><input type="text" id="ggtUserName" name="ggtUserName"  maxlength="10" placeholder="이름을 입력해 주세요." /></td>
                            </tr>

                            <tr>
                                <th>포지션 <span class="es">필수 입력</span></th>
                                <td colspan="3"><input type="text" id="ggtUserPosition" name="ggtUserPosition"  maxlength="10" placeholder="포지션을 입력해 주세요." /></td>
                            </tr>
                            <tr>
                                <th>직업 <span class="es">필수 입력</span></th>
                                <td><input type="text" id="ggtUserJob" name="ggtUserJob"  maxlength="10" placeholder="직업을 입력해 주세요." /></td>
                                <th>권한 <span class="es">필수 입력</span></th>
                                <td><input type="text" id="ggtUserLevel" name="ggtUserLevel"  maxlength="10" placeholder="권한을 입력해 주세요" /></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <p class="btn_set">
                    <button type="button" id="saveBtn" onclick="savePost();" class="btns btn_st3 btn_mid">저장</button>
                    <a th:href="@{/ggtUserList.do}" class="btns btn_bdr3 btn_mid">목록</a>
                </p>
            </section>
        </div> <!--/* .content */-->
    </th:block>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/

            window.onload = () => {
                //initCreatedDate();
                renderPostInfo();
            }

            // 사용자 저장(수정)
            function savePost() {
                const form = document.getElementById('saveForm');

                const fields = [form.ggtUserId, form.ggtUserPnum, form.ggtUserName, form.ggtUserPosition, form.ggtUserJob];
                const fieldNames = ['아이디', '핸드폰번호', '이름', '포지션', '직업'];

                for (let i = 0, len = fields.length; i < len; i++) {
                    isValid(fields[i], fieldNames[i]);
                }

                document.getElementById('saveBtn').disabled = true;
                //form.noticeYn.value = form.isNotice.checked;
                form.action = [[ ${user == null} ]] ? '/ggtUserAdd.do' : '/ggtUserUpdate.do';
                form.submit();
            }

            // 사용자 상세정보 렌더링
            function renderPostInfo() {
              const user = [[ ${user} ]];

              if ( !user ) {
                initCreatedDate();
                return false;
              }

              const form = document.getElementById('saveForm');
              const fields = ['ggtUserId', 'ggtUserPnum', 'ggtUserName', 'ggtUserPosition', 'ggtUserJob', 'ggtUserLevel'];

              fields.forEach(field => {
                form[field].value = user[field];
              })
            }
        /*]]>*/
        </script>
    </th:block>
</html>