<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="mainhead">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--<th:block layout:fragment="add-css"></th:block>-->

    <link rel="stylesheet" src="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" >
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{/fonts/flaticon/font/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>



</html>